@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
<div class="row billeder">
    <div class="columns large-12"><span><img class="icon" src="~/images/heart.svg" alt="Instagram" /></span><h2>@CurrentPage.bodyTitle</h2></div>
    @if (!String.IsNullOrEmpty(CurrentPage.bodyText.ToString()))
    {
        <div class="columns large-12">@CurrentPage.bodyText</div>
    }

    <div class="columns large-12 space">
        <div class="fb-album-container">
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".fb-album-container").FacebookAlbumBrowser({
            account: "SortNatklub"
        });
    });
</script>