@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
<div class="row cocktails">
    <div class="columns large-12"><span><img class="icon" src="~/images/heart.svg" alt="Instagram" /></span><h2>@CurrentPage.bodyTitle</h2></div>
    @if (!String.IsNullOrEmpty(CurrentPage.bodyText.ToString()))
    {
        <div class="columns large-12">@CurrentPage.bodyText</div>
    }
</div>