@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

<div class="video-wrapper">
    <div class="logo-wrapper">
        <img class="logo" src="/images/Logo.svg" alt="Sort Natklub" />

    </div>
</div>
<div class="lol">1</div>

