@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";

    var booking = Umbraco.Content(1058);
}

<div class="video-wrapper">
    <div class="logo-wrapper">
        <img class="logo" src="/images/Logo.svg" alt="Sort Natklub" />
    </div>
    <div class="mouse-wrapper">
        <img src="~/images/mouse.svg" alt="Scroll down" />
        <img class="floating" src="~/images/mouse-scroll.svg" alt="Scroll down" />
    </div>
</div>
<div class="concept">
    <div class="row">
        <div class="columns large-12"><span><img class="icon" src="~/images/heart.svg" alt="Instagram" /></span><h2>Koncept</h2></div>
        <div class="columns large-12">@CurrentPage.Concept</div>
        <div class="columns large-12">
            <div class="custom-button">
                <a href="@booking.Url">Book et bord <span class="fa fa-plus"></span></a>
            </div>
        </div>
    </div>
</div>
<div class="instagram">
    <div class="row">
        <div class="columns large-12"><span><img class="icon" src="~/images/heart.svg" alt="Instagram" /></span><h2>Instagram</h2></div>
    </div>
    <div id="instafeed"></div>
    <div class="row">
        <div class="columns large-12">
            <div class="insta-button"><span class="insta-plus fa fa-plus"></span></div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).on("ready", function () {
        var amount = 5;
        var tag = '@CurrentPage.hashtag';
        $('.insta-button').on('click', function () {
            feed.next();
        });
        var feed = new Instafeed({
            get: 'tagged',
            tagName: tag,
            limit: 5,
            resolution: 'standard_resolution',
            clientId: '3e26819ae6924e71a33a7cd854c4802a',
            template: '<a href="{{link}}" target="_blank"><img src="{{image}}" /></a>'
        });
        feed.run();
    });
</script>
