@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

<div class="video-wrapper">
    <div class="logo-wrapper">
        <img class="logo" src="/images/Logo.svg" alt="Sort Natklub" />
    </div>
    <div class="mouse-wrapper">
        <img src="~/images/mouse.svg" alt="Scroll down" />
        <img class="floating" src="~/images/mouse-scroll.svg" alt="Scroll down" />
    </div>
</div>
<div class="row">
    <div class="columns large-12"><h1>Koncept</h1></div>
    <div class="columns large-12">@CurrentPage.Concept</div>
    <div class="columns large-12">
        <div class="custom-button">
            <a href="#">Book et bord <span class="fa fa-plus"></span></a>
        </div>
    </div>
</div>
<div class="lol">1</div>

