@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*Nomralize*@
    <link href="~/css/normalize.css" rel="stylesheet" />
    @*Foundation grid*@
    <link href="~/css/foundation.min.css" rel="stylesheet" />
    @*Open Sans Google fonts*@
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600' rel='stylesheet' type='text/css' />
    @*Iconer*@
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
    @*Custom styles*@
    <link href="~/css/styles.css" rel="stylesheet" />
    @*Jquery*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    @*Custom script*@
    <script src="~/scripts/script.js"></script>
</head>
<body class="@CurrentPage.DocumentTypeAlias">
@*<body class="lol12">*@
    <header class="boxShadow">
        <div class="burger" href="#"><span></span></div>
        <div class="header-logo"><img class="hidden" src="~/images/Diamant.svg" alt="Sort natklub" /></div>
        <div class="header-drink"><span class="book">Bord booking</span><span class="icon fa fa-plus"></span></div>
    </header>
    <nav>
        <ul class="main-nav">
            <li><a>Lol</a></li>
            <li><a>Lol</a></li>
            <li><a>Lol</a></li>
            <li><a>Lol</a></li>
            <li><a>Lol</a></li>
            <li><a>Lol</a></li>
        </ul>
    </nav>
    @RenderBody()
</body>
</html>