body {
}


.orders .template {
    display: none;
}

.orders {
    width:auto;
    margin:0 auto;
}

.accept, .deny {
    text-align: center;
}

    .accept span {
        cursor:pointer;
        color: green;
    }

    .deny span {
        cursor:pointer;
        color: red;
    }

.products {
    display: none;
}

    .products.active {
        display: table-row;
    }

    .products ul {
        list-style: none;
        padding-left:0;
    }

li.head {
    display: block;
    border-bottom: 1px solid #000;
}

    li.head span {
        font-weight: bold;
    }

span.head-name {
    width: 300px;
    display: inline-block;
}

span.head-quantity {
}

span.head-price {
    float: right;
}

li.product {
    display: block;
}

span.name {
    width: 300px;
    display: inline-block;
}

span.quantity {
}

span.price {
    float: right;
}
