html, body {
    height: 100%;
}

body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    text-transform: uppercase;
}

h3 {
    margin-bottom: 30px;
}

    h2:before, h3:before {
        content: "";
        position: absolute;
        height: 2px;
        width: 50px;
        border-bottom: 2px solid #000;
    }

h2:before {
    top: 70px;
    left: 83px;
}

h3:before {
    top: 55px;
    left: 62px !important;
}

h4 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p {
    text-align: justify;
}

input[type=text],
input[type=email],
input[type=number] {
    height: 45px;
}

::-webkit-input-placeholder {
    color: #bbb;
}

::-moz-placeholder {
    color: #bbb;
}

:-ms-input-placeholder {
    color: #bbb;
}

input:-moz-placeholder {
    color: #bbb;
}

.hidden {
    display: none !important;
}

.boxShadow {
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
}

.Pack, .fester, .billeder, .cocktails, .tekst {
    padding-top: 70px;
}

.space {
    margin-top: 30px;
}


/*Header*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    background-color: #000 !important;
    z-index: 999;
}

/*Burger*/
.burger {
    margin: 13px 0 0 10px;
    display: inline-block;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

    .burger span,
    .burger span:before,
    .burger span:after {
        display: block;
        width: 100%;
        height: 3px;
        background: #fff;
        transition: all 0.3s;
        backface-visibility: hidden;
    }

    .burger span {
        position: relative;
        margin: 8px 0 0;
    }

        .burger span:before,
        .burger span:after {
            position: absolute;
            content: "";
        }

        .burger span:before {
            top: -8px;
        }

        .burger span:after {
            top: 8px;
        }

    .burger.selected span:before {
        transform: translate(0px, 8px) rotate(-45deg);
    }

    .burger.selected span:after {
        transform: translate(0px, -8px) rotate(45deg);
    }

    .burger.selected span {
        background: transparent;
    }

    .burger::after {
        content: "Menu";
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 14px;
        color: white;
        margin-left: 35px;
        top: 11px;
        position: absolute;
    }

/*Header logo*/
.header-logo {
    position: absolute;
    width: 70px;
    top: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: ease 0.2s;
}

    .header-logo:hover {
        width: 90px;
        top: 8px;
    }

    .header-logo img {
        width: 100%;
    }

/*Header drink*/
.header-drink {
    width: 117px;
    height: 45px;
    margin: 0 10px 0 0;
    float: right;
    cursor: pointer;
}

    .header-drink span.book {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 14px;
        color: white;
        margin-top: 11px;
        float: left;
    }

    .header-drink span.icon {
        color: white;
        margin-top: 14px;
        margin-left: 9px;
        float: left;
    }

/*Nav*/
nav {
    height: 100%;
    width: 100%;
    left: -100%;
    position: fixed;
    transition: ease 0.2s;
    border-right: 1px solid #000;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 888;
}

ul.main-nav {
    position: relative;
    top: 150px;
    padding-left: 0;
    list-style: none;
}

    ul.main-nav li {
        padding: 0;
        width: 100%;
    }

        ul.main-nav li a {
            width: 100%;
            height: 100%;
            padding-top: 11px;
            padding-left: 20%;
            font-size: 24px;
            color: #8e8e8e;
            display: block;
        }

            ul.main-nav li a:hover {
                color: #fff;
            }

ul.subnav {
    padding-left: 0 !important;
    margin-top: 10px;
}

    ul.subnav li {
        padding-left: 30px !important;
    }


/*Footer*/
footer {
    margin-top: 30px;
    padding-top: 30px;
    color: #fff;
    background-color: #000;
}

.footer-icon-wrapper {
    float: left;
    height: 170px;
    width: 37px;
    padding-top: 25px;
    margin-right: 10px;
}

footer p {
    font-size: 14px;
    margin: 0 0 4px 0;
    padding: 0 0 0 0;
}

    footer p.social span {
        margin-right: 15px;
        margin-top: 5px;
        color: #fff;
    }

footer .contactform {
    margin-top: 30px !important;
    margin-bottom: 15px;
}

    footer .contactform .columns {
        margin: -10px 0 0 0;
        padding: 0 5px 0 0;
    }

footer h2:before, footer h3:before {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 0;
    height: 2px;
    width: 50px;
    border-bottom: 2px solid #fff;
}

footer textarea {
    height: 100px;
}

input[type="submit"] {
    width: 100%;
    height: 45px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #fff;
    border-radius: 2px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 15px;
}

/*Forside*/
/*Video*/
.video-wrapper {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    background-image: url('/images/mask2.png');
    background-position: center 10%;
    background-size: 1200px auto;
    background-repeat: no-repeat;
    background-color: #000;
}



/*Logo*/
.logo-wrapper {
    min-width: 250px;
    max-width: 700px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

    .logo-wrapper img.logo {
        width: 100%;
        position: relative;
        top: 70%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

/*Mouse icon*/
.mouse-wrapper {
    width: 28px;
    height: 45px;
    bottom: 20px;
    right: 0;
    left: 0;
    margin: 0 auto;
    position: absolute;
    cursor: pointer;
}

    .mouse-wrapper img {
        position: absolute;
    }

.floating {
    animation-name: floating;
    -webkit-animation-name: floating;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes floating {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(8%);
    }

    100% {
        transform: translateY(0%);
    }
}



img.icon {
    margin-top: 28px;
    margin-right: 15px;
    height: 43px;
    float: left;
}
/*Concept*/

.concept {
}

    .concept h3 {
        float: left;
    }

/*Button*/
.custom-button {
    width: 250px;
    height: 45px;
    border: 2px solid #000;
    border-radius: 2px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: background-color ease-in-out 0.1s;
}

    .custom-button a {
        padding-top: 8px;
        height: 100%;
        width: 100%;
        display: block;
        color: #000;
        font-weight: bold;
        text-transform: uppercase;
        transition: color ease-in-out 0.1s;
    }

        .custom-button a span {
            margin-left: 5px;
        }

    .custom-button:hover {
        background-color: #000;
    }

    .custom-button a:hover {
        color: #fff;
    }

/*Instagram*/
.instagram {
    margin-top: 30px;
}

    .instagram h3 {
        float: left;
    }

#instafeed {
    width: 100%;
    margin-top: 30px;
    float: right;
}

    #instafeed img {
        width: 20%;
        /*-webkit-filter: grayscale(1);
        filter: grayscale(1);*/
    }

.insta-button {
    width: 55px;
    height: 55px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #000;
    margin: 30px auto 0 auto;
    transition: background-color ease-in-out 0.1s;
}

    .insta-button span.insta-plus {
        width: 100%;
        height: 100%;
        padding-top: 17px;
        display: block;
        cursor: pointer;
        transition: color ease-in-out 0.1s;
    }

    .insta-button:hover {
        background-color: #000;
    }

        .insta-button:hover span.insta-plus {
            color: #fff;
        }

/*BOOKING*/
.packages {
    margin-top: 75px;
}

.Pack textarea {
    height: 100px;
}

.Pack input[type="button"].packages-button {
    margin-top: 15px;
    width: 100%;
    height: 45px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #000;
    border-radius: 2px;
    color: #000;
    font-weight: bold;
    margin-bottom: 15px;
}

.pack-wrapper {
    width: 100%;
    height: 315px;
    position: relative;
    box-sizing: border-box;
}

    .pack-wrapper .pack-name {
        text-align: center;
        width: 100%;
        height: 45px;
        top: -45px;
        left: 0;
        position: absolute;
        z-index: 9;
        background-color: #000;
    }

        .pack-wrapper .pack-name h4 {
            width: 100%;
            height: 100%;
            color: #fff;
            margin: 0;
            padding: 10px 0 0 0;
        }

    .pack-wrapper .pack-image {
        width: 100%;
        height: 250px;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center;
        position: absolute;
        z-index: 1;
    }

    .pack-wrapper .pack-info {
        display: block;
        width: 100%;
        height: 250px;
        padding-top: 50px;
        padding-left: 15px;
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        z-index: 1;
    }

        .pack-wrapper .pack-info p {
            margin: 5px 0 0px 0;
        }

        .pack-wrapper .pack-info span {
            color: #fff;
            font-weight: bold;
            margin: 0;
            padding: 2px 0;
        }

        .pack-wrapper .pack-info .pack-amount {
            width: 35px;
            float: left;
        }

        .pack-wrapper .pack-info .pack-price span {
            position: absolute;
            height: 30px;
            right: 30px;
            bottom: 15px;
            font-weight: bold;
            text-decoration: underline;
        }

            .pack-wrapper .pack-info .pack-price span::after {
                content: " Kr.";
            }

.pack-button-wrapper {
    width: 100%;
    height: 45px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #000;
    border-radius: 2px;
    margin-top: 15px;
    margin-bottom: 15px;
    bottom: 0;
    left: 0;
    position: absolute;
}

.pack-button {
    width: 80%;
    height: 100%;
    float: left;
}

    .pack-button label {
        width: 100%;
        height: 100%;
        border-right: 2px solid #000;
    }

        .pack-button label span.choose {
            font-weight: bold;
            font-size: 14px;
            color: #000;
            text-align: center;
            padding: 9px 0 0 0;
            margin: 0;
            height: 100%;
            display: block;
            transition: all ease-in-out 0.1s;
        }

        .pack-button label span.icon {
            text-align: center;
            color: green;
            font-size: 30px;
            padding: 5px 0 0 0;
            margin: 0;
            height: 100%;
            display: none;
        }

        .pack-button label:hover span.choose {
            background-color: #000;
            color: #fff;
        }

        .pack-button label input {
            display: none;
        }

    .pack-button input:checked ~ span.choose {
        display: none;
    }

    .pack-button input:checked ~ span.icon {
        display: block !important;
        background-color: #000;
    }

.pack-info-button {
    width: 20%;
    height: 100%;
    float: right;
}

    .pack-info-button span.icon {
        text-align: center;
        color: #000;
        font-size: 20px;
        padding: 10px 0 0 0;
        margin: 0;
        height: 100%;
        display: block;
        cursor: pointer;
    }

/*BOOKING Products*/
ul.product-list {
    width: 100%;
    padding: 0;
    list-style: none;
    position: relative;
}

    ul.product-list li {
        position: relative;
    }

li.category {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

    li.category span.icon {
        float: right;
        font-size: 30px;
        margin-right: 10px;
        transition: all 0.2s;
    }

    li.category ul.products {
        display: block;
        width: 100%;
        padding: 0 10px 0 0;
        list-style: none;
    }

        li.category ul.products li.product {
            padding-top: 4px;
            padding-left: 10px;
            height: 30px;
            font-size: 14px;
            font-weight: normal;
        }

            li.category ul.products li.product .product-info {
                width: 30%;
                float: right;
            }

                li.category ul.products li.product .product-info span.price {
                    font-size: 14px;
                    float: left;
                }

                    li.category ul.products li.product .product-info span.price::after {
                        content: " Kr";
                    }

                li.category ul.products li.product .product-info .product-count {
                    float: right;
                }

                    li.category ul.products li.product .product-info .product-count span.amount {
                        margin: 0 10px;
                        font-weight: bold;
                    }

.reverse {
    transform: rotate(180deg);
}

/*Booking total*/
.total {
    margin-top: 30px;
    border: 2px solid #000;
    border-radius: 2px;
    box-sizing: border-box;
    position: relative;
}

    .total ul.cart-items {
        list-style: none;
        padding: 5px 15px 5px 15px;
        margin: 0;
        width: 100%;
    }

        .total ul.cart-items li {
            width: 100%;
            position: relative;
        }

            .total ul.cart-items li span {
                display: inline-block;
                margin: 5px 0;
            }

                .total ul.cart-items li span.cart-item-name {
                    font-weight: normal !important;
                    font-size: 14px;
                    width: 200px;
                }

                .total ul.cart-items li span.cart-item-price {
                    font-weight: normal !important;
                    font-size: 14px;
                    height: 21px;
                    position: absolute;
                    right: 150px;
                }

                .total ul.cart-items li span.cart-item-amount {
                    font-weight: normal !important;
                    font-size: 14px;
                    position: absolute;
                    right: 50px;
                }

                .total ul.cart-items li span.remove {
                    position: absolute;
                    width: 25px;
                    right: 0px;
                    top: 2px;
                    text-align: center;
                    color: red;
                    cursor: pointer;
                }

    .total .cart-total {
        display: block;
        width: 100%;
        padding: 15px 15px;
        border-top: 2px solid #000;
    }

    .total .cart-total-procent {
        display: block;
        width: 100%;
        padding: 15px 15px;
        border-top: 2px solid #000;
    }

    .total .cart-total span {
        font-weight: bold;
    }

        .total .cart-total span:last-of-type {
            float: right;
            text-decoration: underline;
        }


/*Booking knap*/
input[type="submit"].booking-button {
    margin-top: 15px;
    width: 100%;
    height: 45px;
    background-color: rgba(0, 0, 0, 1);
    border: 2px solid #000;
    border-radius: 2px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 15px;
}

/*Privat fester*/
.Fester .privatparty-wrapper {
    width: 100%;
    margin-top: 100px;
    float: right;
    margin-bottom:30px;
}

.Fester .privatpartyImages {
    width: 25%;
    float: left;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.youtube-wrapper {
    position: relative;
    margin-top: 30px;
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 0;
    overflow: hidden;
}

    .youtube-wrapper iframe,
    .youtube-wrapper object,
    .youtube-wrapper embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

/*Cocktials*/
.Cocktails {
}

.Cocktails .cocktails-wrapper {
    width: 100%;
    margin-top: 100px;
    float: right;
    margin-bottom:30px;
}

.Cocktails .cocktailsImages {
    width: 25%;
    float: left;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

    .Cocktails ul {
        margin-top: 0;
    }

    .Cocktails li.category {
        margin-bottom: 15px;
    }

    .Cocktails ul.products {
        padding-left: 15px !important;
        display: block;
    }

    .Cocktails li.category .categoryIcon {
        height: 30px;
    }

    .Cocktails li.product {
        height: 50px !important;
    }

        .Cocktails li.product span.product-name {
            font-weight: bold;
        }

        .Cocktails li.product span.price {
            float: right;
        }

        .Cocktails li.product .ingredients {
            width: 100%;
            display: block;
            float: left;
        }

            .Cocktails li.product .ingredients span {
                font-size: 12px;
                color: #686868;
            }

                .Cocktails li.product .ingredients span::after {
                    content: ", ";
                }

                .Cocktails li.product .ingredients span:last-of-type::after {
                    content: "";
                }





/*Billeder*/
.billede-wrapper {
    position: relative;
    text-align: center;
}

.fb-account-info {
    display:none;
}


/*Medium*/
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .video-wrapper {
        width: 100%;
        height: 100%;
        margin-bottom: 30px;
        background-image: url('/images/mask2.png');
        background-position: center 10%;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #000;
    }

    footer .contactform .columns {
        margin-top: -10px;
        padding: 0 15px 0 15px;
    }
}

@media only screen and (max-width: 40em) {

    .header-drink span.book {
        display: none;
    }

    .header-drink span.icon {
        float: right;
    }

    .video-wrapper {
        width: 100%;
        height: 100%;
        margin-bottom: 30px;
        background-image: url('/images/mask2.png');
        background-position: center 10%;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #000;
    }

    .mouse-wrapper {
        display: none;
    }

    footer .contactform .columns {
        margin-top: -10px;
        padding: 0 15px 0 15px;
    }

    #instafeed img {
        width: 50% !important;
    }
}
