html, body {
    height: 100%;
}

body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
}

h3 {
    margin-bottom: 30px;
}

    h2:before, h3:before {
        content: "";
        position: absolute;
        height: 2px;
        width: 50px;
        border-bottom: 2px solid #191919;
    }

h2:before {
    top: 70px;
    left: 83px;
}

h3:before {
    top: 55px;
    left: 62px !important;
}

a {
    text-decoration: none;
}

input[type=text],
input[type=email] {
    height: 45px;
}

::-webkit-input-placeholder {
    color: #191919;
}

::-moz-placeholder {
    color: #191919;
}

:-ms-input-placeholder {
    color: #191919;
}

input:-moz-placeholder {
    color: #191919;
}

.hidden {
    display: none;
}

.boxShadow {
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
}

/*Header*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    background-color: #191919;
    z-index: 9;
}

/*Burger*/
.burger {
    margin: 13px 0 0 10px;
    display: inline-block;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

    .burger span,
    .burger span:before,
    .burger span:after {
        display: block;
        width: 100%;
        height: 3px;
        background: #fff;
        transition: all 0.3s;
        backface-visibility: hidden;
    }

    .burger span {
        position: relative;
        margin: 8px 0 0;
    }

        .burger span:before,
        .burger span:after {
            position: absolute;
            content: "";
        }

        .burger span:before {
            top: -8px;
        }

        .burger span:after {
            top: 8px;
        }

    .burger.selected span:before {
        transform: translate(0px, 8px) rotate(-45deg);
    }

    .burger.selected span:after {
        transform: translate(0px, -8px) rotate(45deg);
    }

    .burger.selected span {
        background: transparent;
    }

    .burger::after {
        content: "Menu";
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 14px;
        color: white;
        margin-left: 35px;
        top: 11px;
        position: absolute;
    }

/*Header logo*/
.header-logo {
    position: absolute;
    width: 28px;
    top: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: ease 0.2s;
}

    .header-logo:hover {
        width: 38px;
        top: 8px;
    }

    .header-logo img {
        width: 100%;
    }

/*Header drink*/
.header-drink {
    width: 117px;
    height: 45px;
    margin: 0 10px 0 0;
    float: right;
    cursor: pointer;
}

    .header-drink span.book {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 14px;
        color: white;
        margin-top: 11px;
        float: left;
    }

    .header-drink span.icon {
        color: white;
        margin-top: 14px;
        margin-left: 9px;
        float: left;
    }

/*Nav*/
nav {
    height: 100%;
    width: 285px;
    left: -285px;
    position: fixed;
    transition: ease 0.2s;
    border-right: 1px solid #191919;
    background-color: #191919;
    z-index: 1;
}

ul.main-nav {
    margin-top: 45px;
    padding-left: 0;
    list-style: none;
}

    ul.main-nav li {
        height: 45px;
        width: 100%;
        border-bottom: 1px solid #191919;
        background-color: #2e2e2e;
    }

        ul.main-nav li:last-of-type {
            border: none;
        }

        ul.main-nav li:hover {
            background-color: #191919;
        }

        ul.main-nav li a {
            width: 100%;
            height: 100%;
            padding-left: 45px;
            padding-top: 11px;
            font-weight: 600;
            color: #fff;
            display: block;
        }

/*Footer*/
footer {
    margin-top: 30px;
    padding-top: 30px;
    color: #fff;
    background-color: #191919;
}

.footer-icon-wrapper {
    float: left;
    height: 170px;
    width: 37px;
    padding-top: 25px;
    margin-right: 10px;
}

footer p {
    font-size: 14px;
    margin: 0 0 4px 0;
    padding: 0 0 0 0;
}

    footer p.social span {
        margin-right: 15px;
        margin-top: 5px;
        color: #fff;
    }

footer .contactform {
    margin-top: 30px !important;
    margin-bottom: 15px;
}

    footer .contactform .columns {
        margin: -10px 0 0 0;
        padding: 0 5px 0 0;
    }

footer h2:before, footer h3:before {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 0;
    height: 2px;
    width: 50px;
    border-bottom: 2px solid #fff;
}

footer textarea {
    height: 100px;
}

footer .custom-button {
    margin-top: 0px !important;
    border-color: #fff;
    width: 100%;
}

    footer .custom-button a {
        color: #fff;
    }

/*Forside*/
/*Video*/
.video-wrapper {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    background-image: url('/images/mask.png');
    background-position: center;
    background-size: cover;
    background-color: #000;
}

/*Logo*/
.logo-wrapper {
    min-width: 250px;
    max-width: 700px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

    .logo-wrapper img.logo {
        width: 100%;
        position: relative;
        top: 70%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

/*Mouse icon*/
.mouse-wrapper {
    width: 28px;
    height: 45px;
    bottom: 20px;
    right: 20px;
    position: absolute;
}

    .mouse-wrapper img {
        position: absolute;
    }

.floating {
    animation-name: floating;
    -webkit-animation-name: floating;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes floating {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(8%);
    }

    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes floating {
    0% {
        -webkit-transform: translateY(0%);
    }

    50% {
        -webkit-transform: translateY(8%);
    }

    100% {
        -webkit-transform: translateY(0%);
    }
}


img.icon {
    margin-top: 28px;
    margin-right: 15px;
    height: 43px;
    float: left;
}
/*Concept*/

.concept {
}

    .concept h3 {
        float: left;
    }
/*Button*/
.custom-button {
    width: 250px;
    height: 45px;
    border: 2px solid #191919;
    border-radius: 2px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: background-color ease-in-out 0.1s;
}

    .custom-button a {
        padding-top: 8px;
        height: 100%;
        width: 100%;
        display: block;
        color: #191919;
        font-weight: bold;
        text-transform: uppercase;
        transition: color ease-in-out 0.1s;
    }

        .custom-button a span {
            margin-left: 5px;
        }

    .custom-button:hover {
        background-color: #191919;
    }

    .custom-button a:hover {
        color: #fff;
    }

/*Instagram*/
.instagram {
    margin-top: 30px;
}

    .instagram h3 {
        float: left;
    }

#instafeed {
    width: 100%;
    margin-top: 30px;
    float: right;
}

    #instafeed img {
        width: 20%;
        -webkit-filter: sepia(0.7);
        filter: sepia(0.7);
    }

.insta-button {
    width: 55px;
    height: 55px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #191919;
    margin: 30px auto 0 auto;
    transition: background-color ease-in-out 0.1s;
}

    .insta-button span.insta-plus {
        width: 100%;
        height: 100%;
        padding-top: 17px;
        display: block;
        cursor: pointer;
        transition: color ease-in-out 0.1s;
    }

    .insta-button:hover {
        background-color: #000;
    }

        .insta-button:hover span.insta-plus {
            color: #fff;
        }
